* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #00796a;
  --color-secondary: #00ad8e;
  --color-white: #ffffff;
  --color-login: rgba(255, 255, 255, 0.3);
  --color-text: #5e5e5e;
  --color-text-input: #525252;
  --color-error: #d00d10;
  --color-login-box: rgba(255, 255, 255, 0.7);
}

#root,
html,
body {
  height: 100%;
  background-color: rgb(243, 243, 243);
}
